
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>



    table{
      border: 1px solid #999;
      border-collapse: collapse;

    }
    @media (max-width: 600px) {
        th {
            font-size: 10px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
        }
    }
    </style>
    <title>Tabla con Estilo</title>
</head>
<body>
  <p style="text-align: left;"><img src="/static/img/logosercre.png" class="img" alt="" width="102" height="68" /></p>
  <h1 style="text-align: center"><b>REPORTE</b></h1>
  <h3 >Santa Cruz de la Sierra: {{ datofech|date:" D d M Y " }}</h3>
  <h3 >Hora {{ datofech|date:"H:i:s" }}</h3>
  <h3 >{{nombre_persona}}</h3>
  <h2><b>REPORTES DE PROYECTOS EN PLANOS</b></h2>
  <div class="row">
    <div class="card-body">
      <div>
          <table >
            <thead>
              <tr style=" height: 30px;">
                <th  style="width: 6.00394%;">#</th>
                <th  style="width: 11.9095%;">Proyecto</th>
                <th  style="width: 19.5866%;">Ubicacon</th>
                <th style="width: 9.54724%;">Fiscal</th>
                <th  style="width: 13.878%;">Sistema</th>
                <th style="width: 14.0748%;">Fecha de etapa</th>
                <th style="width: 10.7283%;">Etapa</th>
                <th  style="width: 14.2717%;">Observaciones</th>
              </tr>
              
            </thead >
            <tbody style="text-align: center; height: 40px;">

            {% for asignacion in asignaciones %}
              {% if not asignacion.fechaFin_asig and asignacion.personal_asig.cargo_perl.nombre_carg == "Planos" %}
            
                    <tr>
                        <td>{{ forloop.counter0 }}</td>
                        <td>{{ asignacion.proyecto_asig.nombre_proy }}</td>
                        <td>{{ asignacion.proyecto_asig.ubicacion_proy }}</td>
                        <td>{{ asignacion.proyecto_asig.fiscal_proy.nombre_fis}} {{ asignacion.proyecto_asig.fiscal_proy.apellidoP_fis}}</td>
                        <td>{{ asignacion.proyecto_asig.fiscal_proy.zona_fis.nombre_zon }}</td>
                        <td>{{ asignacion.fechaIni_asig }}</td>
                        <td>{{ asignacion.personal_asig.cargo_perl.nombre_carg }}</td>
                        <td>{{ asignacion.nota_asig }}</td>
                    </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
          <h5 style="text-align: center">Av. Rolando de Chazal #4443 - Tel.:3584241 - e-mail: gerencia@sercre.com.bo</h5>
        </div>
        
      </div>
    </div>
    
  </div>
   

</body>
</html>
    
    
 







